.stopwatch { color: red;  padding: 5px; border:none; width: 220px; margin:15px 0; float:center; }
.lap { color: red;  padding: 1px; border:none; height:75%; width: 220px; margin:15px 0;}
.button { width: 220px; margin:2px; }